 1 - Carregar os arquivos de cadastro, investimento1 e investimento2 e mostrar a quantidade de linhas de cada um, além das informações desses dataframes

In [2]:
import pandas as pd
import datetime as dt

dfCadastro = pd.read_csv('cadastro.csv')
dfInvestimentos1 = pd.read_csv('investimento_parte1.csv')
dfInvestimentos2 = pd.read_csv('investimento_parte2.csv')

print(f'Qtd linhas cadastro: {dfCadastro.shape[0]}')
print(f'Qtd linhas investimento 1: {dfInvestimentos1.shape[0]}')
print(f'Qtd linhas investimento 2: {dfInvestimentos2.shape[0]}')

Qtd linhas cadastro: 38754
Qtd linhas investimento 1: 20000
Qtd linhas investimento 2: 24052

2 - Juntar os dataframes de investimento1 e investimento2 em um só e ver a quantidade de linhas

In [8]:
# Poderíamos fazer a junção dos dois dataframes através do método merge usando como paramento how='outer' para evitar duplicatas.
# dfInvestimento_total = pd.merge(dfInvestimentos1, dfInvestimentos2, how='outer')

dfInvestimento_total = pd.concat([dfInvestimentos1, dfInvestimentos2])
print(f'Qtd linhas investimento total: {dfInvestimento_total.shape[0]}')

Qtd linhas investimento total: 44052

3 - Crie um novo dataframe eliminando as linhas duplicadas

In [29]:
dfInvestimento = dfInvestimento_total.drop_duplicates()
print(f'Qtd linhas investimento: {dfInvestimento.shape[0]}')

Qtd linhas investimento: 38754

4 - Junte o dataframe de investimento com o de cadastro
<br> Dica: use a chave id

In [30]:
dataset = pd.merge(dfCadastro, dfInvestimento, how='outer', on=['id'])
dataset.head()

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,NaN,4480.91,2329.72,480.72,79.600372,9.802620
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,NaN,5624.22,2669.98,504.17,44.406893,90.512871
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,NaN,5033.83,2229.45,523.12,44.020024,65.060941
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,NaN,5258.69,3723.10,NaN,5933.91,NaN,486.05,25.597924,86.548918
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292

5 - Ordene o dataframe pelo id, de forma crescente e redefina o índice

In [31]:
dataset2 = dataset.sort_values('id', ascending=True)
display(dataset2.head(3))

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,NaN,4480.91,2329.72,480.72,79.600372,9.802620
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,NaN,5624.22,2669.98,504.17,44.406893,90.512871
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,NaN,5033.83,2229.45,523.12,44.020024,65.060941

In [ ]:
dataset2 = pd.DataFrame(dataset, index=None)
dataset2

6 - Faça uma análise dos dados faltantes e trate-os
<br>Mostre todas as colunas com dados faltantes, sua quantidade/porcentagem e como tratar (preencher) cada uma delas explicando sua estratégia

7 - Manipule os dados a seguir:
 - Criar coluna "Total" somando o valor de todos os ativos por investidor
 - Criar coluna "Media" com a média das notas 1 e 2
 - Criar coluna "Dominio" com apenas o domínio do email (dica: separar por @)
 - Mudar o nome da coluna "Salário" para "Renda" e tratar a coluna (sem caracter $ e tipo numérica)
 - Mudar os dados da coluna "Sexo" para Masculino e Feminino (tente usar o map)
 - Transformar os dados da coluna Media em inteiro
 - Criar coluna "NPS" onde o investidor é promotor se a média das notas é maior igual a 80, neutro se a média estiver entre 50 e 80, e detrator se for abaixo de 50

8 - Calcule os seguintes dados
 - Calcule o total investido em cada coluna Ativo (tente usar o apply)
 - Qual o menor valor investido em cada ativo?
 - Mostre a média e desvio padrão de cada ativo
 - Qual a idade do investidor mais velho?
 - Qual a mediana da coluna Média?

9 - Responder as perguntas abaixo
 - Quantos investidores são promotores?
 - Quantos investidores são do sexo feminino?
 - Quantos investidores investiram mais de 16000 no Ativo04?
 - Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?
 - Quantos investidores do sexo feminino tem mais de 25 anos e investiu menos de 10000? (bonus: por que esse dado seria importante para a estratégia da nossa empresa?
 - Quantos investidores tem em cada estado (dica: use groupby)
 - Qual é a soma do total investido por cada estado?
 - Como os investidores se distribuem em promotores, detratores e neutros?
 - Qual é a média do total investido por promotores, detratores e neutros? </p>